@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --purple: #733FC8;
    --black: #19202D;
    --dark-gray: #48556A;
    --color-body: #F2F2F2;
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--color-body);
}



main {
    max-width: 1000px;
    display: grid;
    gap: 1rem 1rem;
    grid-template-areas:
    "one one two three"
    "four five five three ";
}


.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }


.text {
    font-size: 1.3rem;
    color: var(--light-gray);
    margin-top: 2.4rem;
}

.title {
    position: relative;
    font-size: 2rem;
    margin-top: 1.2rem;
    z-index: 2;
}

.one {
    background-color: var(--purple);
    position: relative;
}

.one .title {
    color: var(--white);
}

.five {
    background-color: var(--black);
}

.five .title {
    color: var(--white);
}

.two {
    background-color: var(--dark-gray);
}

.four {
    background-color: var(--white);
}

.three {
    background-color: var(--white);
}

.one, .two, .three, .four, .five {
    border-radius: 1rem;
    box-shadow: 40px 60px 50px -47px rgb(72 85 106 / 25%);
    padding: 2.6rem 3.2rem;
}

.name {
    font-size: 1.3rem;
    margin-top: .3rem;
}

.verified {
    font-size: 1.1rem;
}

.one .name, .one .verified {
    color: var(--white);
}

.two .name, .two .verified, .two .title {
    color: var(--white);
}

.five .name, .five .verified {
    color: var(--white);
}

.profile__img {
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--light-gray);
    height: 3.2rem;

}

.three .text, .four .text {
    color: var(--dark-gray);
}

.profile {
    display: flex;
}

.profile__details {
    margin-left: 1.5rem;
}

.two .text {
    color: var(--light-gray);
}

.quotes {
    position: absolute;
    top: 0;
    right: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    z-index: 1;
}


@media (max-width: 1020px) {

    main {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-areas:
        "one one two"
        "four five five "
        "three three three";   
    }
   
}


@media (max-width: 850px) {

    main {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-areas:
        "one one"
        "two four"
        "five five "
        "three three";   
    }
   
}

@media (max-width: 570px) {

    main {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-areas:
        "one"
        "two"
        "four"
        "five"
        "three";   
    }
   
}



.footer { font-size: 11px; text-align: center; };
.footer a { color: hsl(228, 45%, 44%); };



